/*
!/.*
!/.github/

!/.bash_*
/.bash_history*
!/.bashrc.d/
/.cache/

!/walls/

/.config/*
!/.config/alacritty/
!/.config/autostart/
!/.config/bat/
!/.config/conky/
!/.config/git/
!/.config/htop/
!/.config/nvim/
/.config/nvim/undos
!/.config/spicetify/
!/.config/tmux/
!/.config/wget/

/.local/bin/*
!/.local/bin/cloc
!/.local/bin/conky-start
!/.local/bin/convert-to-gif
!/.local/bin/cs
!/.local/bin/esc
!/.local/bin/extract
!/.local/bin/fetch
!/.local/bin/forecast
!/.local/bin/launchspt
!/.local/bin/qs
!/.local/bin/radio
!/.local/bin/rs
!/.local/bin/ssled
!/.local/bin/sw
!/.local/bin/tbv
!/.local/bin/tmpsh
!/.local/bin/tmux-cheatsheet
!/.local/bin/tmux-sessionizer
!/.local/bin/base-bootstrap.sh
!/.local/bin/gnome-bootstrap.sh

/etc/*
!/etc/dnf.conf
!/etc/sudoers.d/anton

/firefox/*
!/firefox/userChrome.css
